@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik','sans-serif';
    font-size: 1em;
    color: #707070;
    text-align: center;
}
h1{
    color: #3B3B3B;
    font-size: 2em;
}

h3 {
    color: #3B3B3B;
    font-size: 1.375em;
}

img{
    width: 100%;
    height: auto;
}
h1 {
    color: em;
}

h1 {
    color: #3B3B3B;
    font-size: em;
}

.borde{
    border: #6ACBE0 thin solid;
}

/* Estilos del Header
/*******************************************************************/
/*Solo a un elemento */
#header{
    background-color: #ECECEC; 
}

/*Mas de un elemento*/
.link-menu{
    color: #707070;
    text-decoration: none;
}

a:hover{
    color: #6984E6 
}

/* Estilos de Principal
/*******************************************************************/
#principal{
    margin-top: 3.125em;
    min-height: calc(100vh - 4.6875em);
}


/* Estilos del Footer
/*******************************************************************/
#footer {
    background: #3B3B3B;
    color: #FFF;
    height: 4.6875em;
}


/* Estilos de Producto
/*******************************************************************/
#producto {
	background:-webkit-linear-gradient(90deg, #f16608 10%, #e00606 90%);
	background:-moz-linear-gradient(90deg, #f16608 10%, #e00606 90%);
	background: linear-linear-gradient(90deg, #f16608 10%, #e00606 90%);
	color: #FFF;
    min-height: calc(100vh - 4.6875em);
}
.espacio-row {
	padding-top: 2em;
	padding-bottom: 2em;
}



/* Estilos de Contacto
/*******************************************************************/
#contacto {
	background:-webkit-linear-gradient(90deg, #cf1b8a 10%, #6923eb 90%);
	background:-moz-linear-gradient(90deg, hsl(234, 77%, 46%) 10%, #6923eb 90%);
	background: linear-linear-gradient(90deg, #1bbacf 10%, #6923eb 90%);
	color: rgb(216, 184, 184);
    min-height: calc(100vh - 4.6875em);
}

.footerCard {
    background: rgb(235, 239, 240);
    padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.title{
    color:rgb(20, 177, 189);
    font-size: 3em;
}

.bodyCard{
    background: rgb(162, 167, 212);
}
body, html {
height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(231, 21, 6), rgb(224, 115, 12));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/**************************
 * Login
 *************************/
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(231, 21, 6);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(231, 21, 6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(231, 21, 6);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(231, 21, 6);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(231, 21, 6);
}

.forgot-password {
    color: rgb(224, 115, 12);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(224, 115, 12);
}